.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  align-items: center;
  font-size: 50px;
}

.App-Select-country {
  font-size: 30px;
  margin-left: 30px;
}

.countriesDropDown {
  font-size: 20px;
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
}

.country-list {
  width: 300px;
}

.statesDropDown{
  font-size: 20px;
  width: 300px;
  margin-left: 500px;
  margin-top: -115px;
  position: fixed;

}

.state-list {
  width: 300px;
}

.newCountry{
 width: 300px;
  margin-left: 50px;
  font-size:20px;
  padding-bottom: 200px;
  position: fixed;
}

.newState{
  width: 300px;
  font-size: 20px;
  margin-left: 500px;
}
